<h1>Realtime Speaker Rating</h1>

<span>Current Vote: </span><b id="value"><%= @total %></b>
<br />
<canvas id="plotter" height="200" width="400"></canvas>
<div id="nocanvas"></div>
<%= link_to 'New Call', new_call_path %>


